.puppyHeader__mas, .loveContainer__img {
  margin-top: 80px; }

.puppyHeader__title, .puppyHeader__text, .loveContainer__title, .loveContainer__subtitle {
  margin-bottom: 20px; }

header, #love, .multiContainer, footer {
  display: flex;
  justify-content: center;
  align-items: center; }

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box; }

header {
  background-image: url("../img/banner.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 90vh; }

.puppyHeader {
  color: #ffffff;
  margin: 40px 0; }
  .puppyHeader__title {
    font-weight: 700;
    border: 2px solid #ffffff;
    border-right: none;
    border-left: none;
    padding: 5px; }
  .puppyHeader__btn {
    padding: 10px 15px; }

#love {
  background-color: #2ec8b1;
  color: #ffffff;
  padding: 80px 0; }

.loveContainer__img img {
  padding-right: 30px; }

.charContainer__description {
  background-color: #313332;
  height: 254px;
  color: #ffffff;
  padding: 0; }
  .charContainer__description h4 {
    padding: 80px 0 10px 80px; }
  .charContainer__description p {
    padding: 0 80px 75px 80px; }
.charContainer__img {
  padding: 0; }
  .charContainer__img img {
    width: 100%;
    height: 252.922px; }

#bulldog {
  height: 253px !important;
  background-color: #1C2833 !important; }

.dogContainer {
  background-color: #4820a2;
  padding: 80px 100px;
  box-sizing: border-box;
  color: #ffffff; }

.multiContainer {
  flex-direction: column; }

.iconContainer1, .iconContainer2, .iconContainer3, .iconContainer4, .iconContainer5, .iconContainer6 {
  padding: 80px; }

.iconContainer1 {
  background-color: #4531a6 !important; }

.iconContainer2 {
  background-color: #3f2d99 !important; }

.iconContainer3 {
  background-color: #3b2a8f !important; }

.iconContainer4 {
  background-color: #362685 !important; }

.iconContainer5 {
  background-color: #32237d !important; }

.iconContainer6 {
  background-color: #2c1f6c !important; }

.footerContainer {
  padding: 0;
  background-image: url("../img/banner.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 90vh; }

.puppyFooter {
  padding: 80px 120px;
  color: #ffffff;
  font-size: 20px; }
  .puppyFooter__btn div {
    margin-top: 10px; }

footer {
  background-color: rgba(49, 51, 50, 0.8);
  position: relative;
  bottom: 0;
  height: 45vh; }

.footerIcon {
  font-size: 20px; }
  .footerIcon a {
    padding-right: 20px; }
  .footerIcon i {
    color: #ffffff; }

@media only screen and (max-device-width: 768px) {
  header, .footerContainer {
    padding: 0;
    background-image: url("../img/pic05.jpg");
    background-color: rgba(0, 0, 0, 0.8);
    background-size: 160% 100%;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 90vh; }

  .charContainer__img img {
    height: 100% !important; }

  .puppyHeader__btn, .btn_transparent, .btn_red {
    padding: 10px 90px !important; }

  .dogContainer {
    padding: 10px;
    text-align: center; }

  .iconContainer1, .iconContainer2, .iconContainer3, .iconContainer4, .iconContainer5, .iconContainer6 {
    padding: 40px; }

  .puppyFooter {
    padding: 20px; }

  .btn_transparent {
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: transparent; } }
@media only screen and (max-device-width: 992px) {
  header, .footerContainer {
    padding: 0;
    background-image: url("../img/pic05.jpg");
    background-color: rgba(0, 0, 0, 0.8);
    background-size: 160% 100%;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 90vh; }

  .charContainer__img img {
    height: 100% !important; }

  .puppyHeader__btn, .btn_transparent, .btn_red {
    padding: 10px 90px !important; }

  .dogContainer {
    padding: 30px;
    text-align: center; }

  .iconContainer1, .iconContainer2, .iconContainer3, .iconContainer4, .iconContainer5, .iconContainer6 {
    padding: 40px; }

  .puppyFooter {
    padding: 20px; }

  .btn_transparent {
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: transparent; } }

/*# sourceMappingURL=style.css.map */
